<!DOCTYPE HTML>
<html <% if (config.language) { %>lang="<%= config.language %>"<% } %>>
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="dXIZL4NoooO0wxeCAdaX-z-G981VwZZIHTb4Ux0HjqY" />
  <meta name="baidu-site-verification" content="vezc6IF8Ml" />
  <meta name="description" content="邓世龙的学习笔记，相信兼济天下则达，独善其身则穷, 主要记录一些学习过程中遇到的问题.主要涉及算法，搜索引擎(Elasticsearch, Solr, Sphinx-for-Chinese), 基于Django的Web开发, Supervisor监控等运维知识" />
  <meta name="keywords" content="Elasticsearch,搜索引擎,Django,Supervisor,Spark,Solr,Django REST framework,Python,Elasticsearch-jdbc,欧拉工程,Sphinx-for-Chinese" />
  <%
  var title = page.title;
  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title =  __('categories')+' : ' + page.category;
  } else if (is_tag()){
    title = __('tags')+' : ' + page.tag;
  }
  %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>">
    <% } %>

    <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
    <%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>

    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.root %><%- theme.favicon %>">
    <% } %>
    <% if (theme.apple_icon){ %>
    <link rel="apple-touch-icon" href="<%- config.root %><%- theme.apple_icon %>">
    <link rel="apple-touch-icon-precomposed" href="<%- config.root %><%- theme.apple_icon %>">
    <% } %>
    <%- css('css/style') %>
</head>
